<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="VisionAPIKey" value="cd079d2a5dca4e0d9d7224f2871e6e14" />
    <add key="FaceAPIKey" value="2f7b0f6bd71d473f9c81e5416c9cdbe6" />
    <add key="FaceAPIUrl" value="https://westus.api.cognitive.microsoft.com/face/v1.0" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
